html, body {
  background: #313131;
}

body {
  background: white;
  margin: 2rem;
}

nav {
  background: #313131;
}

main {
  margin-top: -.1rem;
  min-height: 20rem;
}

.fe {
  align-self: flex-end;
}

.fs {
  align-self: flex-start;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.logo {
  width: 3rem;
  object-fit: cover;
}

.tab {
  background: white;
  border: none;
  border-top: 0.2rem solid #c8c8c8;
  border-radius: 0rem;
  box-shadow: inset 0rem -1rem 1rem -1.2rem rgba(0, 0, 0, 0.2);
  margin-right: .25rem;
  min-height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tabRow {
  margin-right: 1rem;
  background: #313131;
}

.tab[data-state="active"] {
  box-shadow: none;
  border-top-color: #4eebd0;
}
