body {
  background-color: white;
  margin: 2rem;
}

button {
  cursor: pointer;
}

main {
  border: 0.1rem solid #6496c8;
  margin-top: -.1rem;
  min-height: 20rem;
}

nav a img {
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

nav div.row {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 1.25rem;
}

nav .tab button {
  background: white;
  border: 0.1rem solid #6496c8;
  border-radius: .5rem;
  min-height: 2rem;
  margin-right: .3rem;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
